
@import "../bower_components/normalize-css/normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/typeplate";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@mixin grid_r($col, $width) {
    @media only screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                flex-basis: #{100/$col}%;
            }
        }
    }
}

@mixin grid($col) {
    .grid-#{$col} {
        & > * {
            flex-basis: #{100/$col}%;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(5);

@include grid_r(2,400);
@include grid_r(2,800);

@include grid_r(4,400);
@include grid_r(4,800);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * ============================================
 */

$myBlack: #1d1d1b;
$myMain: #f7f4ed;
$myOtherMain: #FAF9F6;
$myOtherOtherMain: #F8F7F3;
$myGray: #c8c9cb; 
$newGray: #d9d9d9;
$myGold: #FFE200;
$myGreen: #CEE4BE;

*{
    margin: 0;
}

body{
    font-family: 'Caslon 540', serif;
}

//-------CONTAINERS------------------------
//


html{
    background: url(images/shore.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#containerA{
    background-color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    z-index: 1; 
    border-bottom: 1px solid $myGray;
    padding-top: 15px;  
    z-index: 2;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

#containerB{
    display: inline-block;
    width: 60%;
    height: 100%;
    bottom: 0;
    z-index: 0;
    vertical-align: top;
    z-index: 2;
}

#containerC{
    display: inline-block;
    width: 39%;
    z-index: 2;
    background-color: white;
}

#containerD{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#containerE{
    width: 100%;
    position: fixed;
    top: 65px;
    z-index: 2;
    opacity: .9;


}



// LOGIN VIEW

#loginBox{
    margin-top: 100px;
    margin-left: 150px;    
}

#loginUsername{
    width: 320px;
    height: 55px;
    margin-bottom: 4px;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 300;
    letter-spacing: 1px;
}

#loginPassword{
    width: 320px;
    height: 55px;
    margin-bottom: 4px;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 300;
    letter-spacing: 1px;
}

#signUpButton{
    background: white;
    border: 0;
    width: 320px;
    height: 40px;
    font-family: 'Helvetica';
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 300;
}

#signUpButton:hover{
    background: #F3F2F2;
}

#signUpButton:focus{
    outline: 0;
}

#alreadyMember{
    margin-top: 25px;
    font-size: 15px;
    font-family: 'Helvetica';
}

#loginButton{
    font-weight: bold;
}

#loginButton:focus{
    outline: 0;
}

//-------NAV-VIEW------------------------
#navBar{
    display: inline;
    margin-right: 20px;
    font-family: Helvetica,sans-serif;
    font-size: 13px;
    text-align: center;
    float: right;
    margin-right: 70px;
    vertical-align: top;
    margin-top: 6px;

    i{
    font-size: 24px;
    line-height: 27px;
    }

    i:hover{
    cursor: pointer;
    }
}

#articleFeed{
    display: inline;
    margin-right: 20px;
    vertical-align: top;

}

#articleFeed:hover{
    cursor: pointer;
    text-decoration: underline;

}

#bookmarks{
    display: inline;
    margin-right: 20px;
    vertical-align: top;
}


#post{
    display: inline;
    margin-right: 20px;
    vertical-align: top;

}

#post:hover{
    cursor: pointer;
    text-decoration: underline;
}


#logout{
    display: inline;
    margin-right: 20px;
    vertical-align: top;


}

#logout:hover{
    cursor: pointer;
    text-decoration: underline;

}

#bookmarks:hover{
    cursor: pointer;
    text-decoration: underline;

}

#logo{
    height: 66px;
    position: fixed;
    left: 50px;
    top: 0;
}

#logo:hover{
    cursor: pointer;
}

#searchPng{
    height: 22px; 
}

//-------HOME VIEW------------------------

#featuredArticles{
    width: 100%;
    height: 400px;
    background-color: #F3F0E6;
    margin: auto;
    margin-bottom: 100px;
    padding: 32px;
    color: #727272;
    font-size: 80px;
    line-height: 72px;
    margin-top: 10px;

    #paris{
        width: 285px;
        margin-right: 10%;
        margin-left: 15%;
        display: inline-block;
    }

    #kansas{
        display: inline;
        max-height: 319px;
    }

    p{
        margin-left: 30px;
    }

    #goHere{
        font-family: 'Helvetica';
        font-weight: lighter;
        text-align: center;
        font-size: 15px;
    }
}

#currentArticles{
    margin: auto;
    width: 90%;
    padding-left: 5rem;
}

#homeArticleBox{
    width: 230px;
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
    margin-bottom: 40px;
    border-bottom: 1px solid $newGray;


}

#homeArticleTitle{
    font-family: 'Caslon 540';
    padding-top: 5px;
    padding-bottom: 6px;
    line-height: 20px;
    margin-bottom: 15px;
}

#homeArticleTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

#homeArticleImage:hover{
    cursor: pointer;
}

#homeArticleAuthor{
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    text-indent: 0;
    font-weight: bold;
}

#homeArticleDate{
    font-family: 'Helvetica', sans-serif;
    text-indent: 0;
    font-size: 12px;
    font-weight: lighter;
}

#homeArticleDate:hover{
    cursor: default;
}

#homeLeftDiv{
    display: inline-block;
}

#homeRightDiv{
    float: right;
    display: inline;
}

#homeBookmarkButton{
    color: #C8C9CB;
    padding: 3px;
    border: 1px solid white;
    border-radius: 8px;
}

#homeBookmarkButton:hover{
    cursor: pointer;
    border: 1px solid #C8C9CB;
    border-radius: 8px;
    padding: 3px;
}

//-------POST VIEW------------------------

#postForm{
    margin-left: 350px;
    margin-top: 100px;
    max-width: 700px;

}

#postTitle{
    font-family: Helvetica,sans-serif;
    display: block;
    width: 100%;
    height: 100px;
    outline: 0;
    border: 1px solid $myGray;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 20px;
    padding-left: 20px;
    resize: none;

}

#postArticle{
    font-family: 'Caslon 540';
    margin-bottom: 15px;
    display: block;      
    width: 100%;
    min-height: 400px;
    outline: 0;
    border: 1px solid $myGray;
    resize: none;
    padding: 20px;

}

#postImage{
    background-color: white;
}


#footnote{
    color: blue;
    text-decoration: underline;
}

#postSubmit{
    float: right;
    background: #F9F6F6;
    border: 0;
    width: 230px;
    height: 40px;
    font-family: 'Helvetica';
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 300;
}

#postSubmit:hover{
    background: #EDEDED;
}

#addFootnoteButton{
    background: #f9f6f6;
    border: 0;
    font-family: Helvetica;
    font-weight: lighter;
    height: 30px;
    width: 30px;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 5px;
}

#addFootnoteButton:hover{
    background: #EDEDED;
}

#footnoteInput{
    width: 60%;
    margin-right: 10px;
    margin-bottom: 15px;
}


//-------ARTICLE VIEW------------------------


a{
    text-decoration: underline;
    cursor: pointer;  
}

#articleHeader{
    border-top: 2px solid black;
    padding-top: 28px;
    border-bottom: 1px solid lightgray;
    margin-top: 85px;
    margin-bottom: 50px;
}

#articleBox{

    height: 100vh;
    overflow: scroll;
    padding-left: 75px;
    padding-right: 44px;
    margin-left: 3rem;
    border-right: 1px solid #C8C9CB;


    h2{
        font-family: 'Caslon 540', serif;
        font-weight: bolder;
        font-size: 32px;        
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    #articleInfo{
        text-indent: 0;
        font-family: 'Helvetica', sans-serif;
        font-size: 15px;
        line-height: 15px;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    #articleText{
        margin-top: 30px;
        border-bottom: 1px solid #C8C9CB;
        padding-bottom: 45px;
    }

    p{
        font-size: 18px;
    }
}

#articleHeaderImage{
    max-height: 450px;
}


nreWord{

}

#bookmarkDiv{
    padding: 4px;
    padding-left: 12px;
    margin-bottom: 50px;
    background-color: $myGold;
    border-radius: 8px;
    width: 106px;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    font-size: 12px;

    p{
        display: inline;
        font-size: 14px;
    }
}

#bookmarkDiv:hover{
    cursor: pointer;
    background-color: #FEED6C;
}

#articleFooter{
    height: 30px;
    width: 100%;
    border-top: 1 px solid #C8C9CB;
}


//-------WIKI VIEW------------------------

#wikiBoxHeader{
    margin-bottom: 60px;
    margin-top: 135px;
}

#closeX{
    color: #8BC7EB;
    font-size: 45px;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 65px;
    padding-top: 7px;
    border-bottom: 1px solid #C8C9CB;

    p{
        display: inline;
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 17px;
        padding-bottom: 12px;
        color: #222222;
    }

    #wikiIcon{
        margin-left: 30px;
    }

    #gettyIcon{
        margin-left: 15px;
        color: #C8C9CB;
    }
}

#blueX{
    height: 17px;
}

#blueX:hover{
    cursor: pointer;
}

#wikiIcon:hover{
    cursor: pointer;
}

#gettyIcon:hover{
    cursor: pointer;
}

#wikiArticleText{

    background-color: white;
    height: 100vh;
    padding: 40px;
    font-size: 16px;
    overflow: scroll;
    border-bottom: 1px solid #c8c9cb;

    h2{
        font-weight: lighter;
        font-size: 30px;
        padding-top: 30px;
    }

    h3{
        font-family: 'Helvetica', sans-serif;
        font-weight: lighter;
        font-size: 22px;
        font-weight: 400;

        span{
            font-weight: lighter;
        }
    }
}

#gettyImageList{
    display: inline-block;
}

#gettyImageSingle{
    display: inline-block;
}


//-------BOOKMARK PREVIEW------------------------

#bookmarkPreview{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $myGray;
    animation-duration: 0.7s;
    position: fixed;
}

#bookmarksTitle{
    font-size: 35px;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    color: #444;
    line-height: 60px;
    margin-left: 50px;
    padding-top: 20px;
    margin-bottom: 30px;

}

#previewOuterBox{
    width: 1500px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}

#bookmarkedItems{
    width: 2300px;
    display: inline-block;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 50px;
}

#previewBlock{

    max-width: 300px;
    height: 275px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 60px;
    padding-right: 60px;
    border-right: 1px solid #C8C9CB;

    img{
        max-height: 175px;
        margin-bottom: 20px;
    }

    img:hover{
        cursor: pointer;
    }

    p{
        height: 85px;
        line-height: 20px;
        vertical-align: top;
        margin: 0;
    }

    p:hover{
        cursor: pointer;
    }

    #previewAuthor{
        display: inline;
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-indent: 0;
        margin: 0;
        
    }
}





